<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Case_study</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Validator</display-name>
		<servlet-name>Validator</servlet-name>
		<servlet-class>Validator</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>serv1</display-name>
		<servlet-name>serv1</servlet-name>
		<servlet-class>serv1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>registrationAction</display-name>
		<servlet-name>registrationAction</servlet-name>
		<servlet-class>registrationAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>hrSendDOJ</display-name>
		<servlet-name>hrSendDOJ</servlet-name>
		<servlet-class>hrSendDOJ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>regRequestToJoin</display-name>
		<servlet-name>regRequestToJoin</servlet-name>
		<servlet-class>regRequestToJoin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>hrverifyToJoin</display-name>
		<servlet-name>hrverifyToJoin</servlet-name>
		<servlet-class>hrverifyToJoin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>mbuformValidator</display-name>
		<servlet-name>mbuformValidator</servlet-name>
		<servlet-class>mbuformValidator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Validator</servlet-name>
		<url-pattern>/Validator</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>serv1</servlet-name>
		<url-pattern>/serv1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>registrationAction</servlet-name>
		<url-pattern>/registrationAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>hrSendDOJ</servlet-name>
		<url-pattern>/hrSendDOJ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>regRequestToJoin</servlet-name>
		<url-pattern>/regRequestToJoin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>hrverifyToJoin</servlet-name>
		<url-pattern>/hrverifyToJoin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mbuformValidator</servlet-name>
		<url-pattern>/mbuformValidator</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
